.fix-menu.fix-menu-hidden
   +logo(true)
   +menu(menu)
      +menu-set('home')
         a.home.subject-icon(href=menu.home.href)
            i.fa.fa-home
      +menu-set('more')
         i.fa.fa.fa-ellipsis-h.click.more.a