.modal-search.full.modal#search
   .container
      .search.text-center
         input(placeholder="Поиск")
         i.fa.fa-close.click(type="button" data-dismiss="modal")
      .result
         .error.text-center
         .info.text-center Введите что-нибудь
         a.row
            .article.col-md-10
               .category
               .title
               .date
            .img.col-md-2