events {
  worker_connections   2000;
}

http {
	default_type  application/octet-stream;
  include       /etc/nginx/mime.types;

  server {
	  root /var/www/blog/static;
	  listen        80;

	  location / {
	    proxy_pass "${BLOG_HOST}";
	  }

		location /static {
	    root /var/www/blog;
	  }

	  error_page 404 /;
  }
}